{
  auto_https off
}

:80 {
  @motus host localhost motus.{$BASE_DOMAIN}

  handle @motus {
    @realtime path /realtime /realtime/*
    handle @realtime {
      reverse_proxy game:2567
    }

    handle {
      reverse_proxy web:3000
    }
  }

  respond "unknown host" 404
}
